.logo {
    height: 25px;
    width: 25px;
    padding: 0;
  }

.btn-img {
    background: none;
    padding: 0;
}

.btn {
    border: none;

}

.space {
    width: 50px;
}

#firstNameId {
    width: 100%;
}

#lastNameId {
    width: 100%;
}

#addressId {
    resize: none;
    width: 100%;
}

.rowspacing {
    margin-bottom: 2%;
}