.logo {
    height: 25px;
    width: 25px;
    padding: 0;
  }

.btn-img {
    background: none;
    padding: 0;
}

.btn {
    border: none;
}

.space {
    width: 50px;
}

.rowspacing {
    margin-bottom: 2%;
}

.alert {
    display: none;
}

.colspacing {
    padding-left: 4%;
}