<div id="LoginForm">
  <div class="container">
    <h1 class="form-heading">Login Form</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your email and password</p>
        </div>
          <form id="Login"  (submit)="onLogin()">
              <div class="form-group">
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email Address">
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Password">
              </div>
              <img *ngIf="showDataUrl" src="{{ dataurl }}">
              <p *ngIf="showDataUrl">Please use your google authenticator to scan to set up account</p>
              <div *ngIf="showTokenField" class="form-group">
                <input type="token" class="form-control" id="token" name="token" [(ngModel)]="token" placeholder="token">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
  </div>
</div>