/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~font-awesome/css/font-awesome.css";

html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}